@use "@/assets/sass/abstracts/mixins" as m;

.content {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include m.md {
    margin-bottom: 4rem;
  }

  @include m.xl {
    margin-bottom: 6rem;
  }
}