@use "@/assets/sass/abstracts/mixins" as m;

.discover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    box-shadow: var(--boxShadow-1);
    border-radius: 10px;
    width: 80%;
    filter: brightness(0.45);
    max-height: 50rem;
    transition: filter 0.2s;
    &:hover,
    &:active {
      filter: brightness(0.2);
    }
  }

  &__title {
    font-family: var(--fontText);
    font-size: 1.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    @include m.md {
      font-size: 1.8rem;
    }

    @include m.xl {
      font-size: 2rem;
    }
  }
}