@use "@/assets/sass/mixins" as m;

.details {
  justify-content: center;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:first-of-type {
    margin-top: 2rem;
  }

  &:last-child {
    margin-bottom: 2rem;
  }

  @include m.md {
    &:first-of-type {
      margin-top: 4rem;
    }

    &:last-child {
      margin-bottom: 4rem;
    }

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  @include m.lg {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  @include m.xl {
    &:first-of-type {
      margin-top: 6rem;
    }

    &:last-child {
      margin-bottom: 6rem;
    }
  }
  &__title {
    align-self: flex-start;
    font-size: 2rem;
    font-family: var(--fontSubtitle);
    color: var(--textColor-2);
    margin-bottom: 1rem;
    @include m.md {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }

  &__list {
    display: flex;
    width: 90vw;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 1rem;
    @include m.md {
      padding-bottom: 2rem;
    }
  }

  &__item {
    justify-self: center;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    @include m.md {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__img {
    border-radius: 10px;
    box-shadow: var(--boxShadow-1);
    object-fit: cover;
    object-position: center;

    &-wallpaper {
      height: 20rem;

      @include m.md {
        height: 30rem;
      }
    }

    &-actor {
      height: 10rem;
      max-width: 6rem;
      @include m.md {
        max-width: 13rem;
        height: 20rem;
      }
    }

    &-similar {
      height: 20rem;

      @include m.md {
        height: 30rem;
      }
    }
  }

  &__name {
    text-align: center;
    align-self: center;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-family: var(--fontText);
    color: var(--textColor-2);
  }

  &__video {
    box-shadow: var(--boxShadow-1);
    border-radius: 10px;
  }

  &__btn {
    background-color: transparent;
    height: 50%;
    font-size: 1.6rem;
    font-family: var(--fontText);
    color: var(--textColor-2);
    width: max-content;

    &:hover,
    &:active {
      color: var(--backgroundColor-primary-2);
    }

    @include m.md {
      font-size: 1.8rem;
    }
  }

  // === NAV FOR ACTORS AND WALLPAPPERS ===

  &__nav {
    width: 100%;
    align-self: flex-start;
    margin-bottom: 0.5rem;

    @include m.md {
      margin-bottom: 1.5rem;
    }
    &-list {
      display: flex;
    }

    &-item {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }

    &-btn {
      display: flex;
      color: var(--textColor-2);
      font-family: var(--fontText);
      background-color: transparent;
      font-size: 2rem;
      font-family: var(--fontSubtitle);
      transition: all 0.2s;
      padding: 0.5rem 0;
      border-radius: 2rem;
      transition: all 0.2s;
      width: max-content;

      &--active {
        color: var(--backgroundColor-primary-2);
      }
      @include m.md {
        &:hover,
        &:active {
          padding: 0.5rem 2rem;
          color: #fff;
          background-color: rgba(35, 53, 65, 0.95);
        }
      }
      @include m.md {
        font-size: 2.5rem;
      }
    }
  }

  &__job {
    text-align: center;
    align-self: center;
    font-size: 1.4rem;
    color: var(--textColor-1);
    font-family: var(--fontText);
    margin-top: 0.5rem;
  }
}
